<mat-toolbar style="margin-top: 3%;">
  <h1>Admin</h1>
  <span class="example-spacer"></span>
  <!-- right side -->
  <button routerLink="../users/display-appointments" class="nabButton" mat-button >Appointments</button>
  <button routerLink="../users/book-appointment" class="nabButton" mat-button >Book Appointment</button>
  <button routerLink=""  class="nabButton" mat-button >View Appointments</button>
  <button routerLink="../users/logout" class="nabButton" mat-button >Logout</button>
  <mat-icon class="icon">account_circle</mat-icon>
</mat-toolbar>
