<mat-toolbar>
  <mat-icon routerLink="" class="icon">home</mat-icon>
  <span>Diagnostics </span>
  <span class="example-spacer"></span>
  <!-- right side -->
  <button routerLink="../about" class="nabButton" mat-button >About</button>
  <button (click)="navigateCustomer()" class="nabButton" mat-button >Book Appointment</button>
  <button *ngIf="loggedIn" routerLink="../logout" class="nabButton" mat-button >Logout</button>
  <button *ngIf="!loggedIn"  routerLink="../login" class="nabButton" mat-button >Login</button>
  <mat-icon class="icon">account_circle</mat-icon>
</mat-toolbar>